<div class="col-xs-10 col-xs-offset-1 about">
  <h1>About Splurty</h1>

  <p>
    Splurty was built by Kyle Otani through instructions from <a target="_blank" href="http://www.thefirehoseproject.com/">The Firehose Project</a>.
  </p>
  <br />
  <p> 
    This website was inspired by the personalities and professionals of Super Smash Bros. Melee.
  </p>
  <p>
    Keep up to date with upcoming tournaments of Melee and other fighting games <a target="_blank" href="https://smash.gg/tournaments">here</a>.
  </p>
  <br />


  <div class="col-xs-12 col-sm-4">
    <%= image_tag 'kyle.jpg', class: 'img-responsive' %>
  </div>
  <div class="col-xs-12 col-sm-7 col-sm-offset-1">
    <h2 class="text-center">Kyle Otani</h2>
    <br />
    <p>
      Kyle Otani is a student at The Firehose Project, learning coding to become a Web Developer.
    </p>
  </div>
  <br class="clear" />

</div>

<br class="clear" />
<br />
<br />
<br />
<br />