<h3>
  <span>Splurty No. <%= @quote.id %></span>
  From the wonderful personalities of Smash
</h3>

<h1 class="text-center"><%= @quote.saying %></h1>
<h2 class="col-xs-3 col-xs-offset-9">- <%= @quote.author %></h2>

<br class="clear" />
<br />
<br />
<br />